@use './var' as *;
@use './font';

body{
    font-family: $font;
    font-weight: 400;
    margin: 0 auto;
    background-color: #1F2023;
    color: $light;
    overflow-x: hidden;
    line-height: 110%;
}

a{
    text-decoration: none;
}

.title-h2{
    font-weight: 700;
    font-size: 32px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    color: $grey; 
    margin-top: 0;
    margin-bottom: 0;
}


.header{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    height: 71px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    @media (max-width: $r_tab){
                height: 66px;
            }
    &::before{
        content: '';
        display: block;
        width: 100%;
        height: 27px;
        position: absolute;
        background-color: $accent;
        top: 0;
        left: 0;
        z-index: -1;
        @media (max-width: $r_tab){
        top: -2px;
        }
    }
    &__logo{
        background-color: $accent;
        padding: 17px 45px 0 45px;
        border-radius: 10px 0 0 0;
        position: relative;
        @media (max-width: $r_desk){
        padding: 17px 20px 0 20px;
        }
        &::after{
            content: '';
            display: block;
            width: 68px;
            height: 71px;
            background-image: url('../images/header-decor-left.svg');
            position: absolute;
            top: 0;
            right: -68px;
            @media (max-width: $r_tab){
                height: 66px;
                background-size: contain;
                background-repeat: no-repeat;
                right: -62px;
            }
        }
        &::before{
            content: '';
            display: block;
            width: 26px;
            height: 24px;
            position: absolute;
            background-image: url('../images/header-bottom-left.svg');
            background-repeat: no-repeat;
            background-size: contain;
            left: 0;
            bottom: -24px;
        }
    }
    &__info{
        position: relative;
        padding: 17px 45px 0 45px;
        border-radius: 0 10px 0 0;
        background-color: $accent;
        @media (max-width: $r_desk){
        padding: 17px 20px 0 20px;
        }
        @media (max-width: $r_tab){
        padding: 20px 20px 0 20px;
        }
        &::before{
            content: '';
            display: block;
            width: 26px;
            height: 24px;
            position: absolute;
            background-image: url('../images/header-bottom-right.svg');
            background-repeat: no-repeat;
            background-size: contain;
            right: 0;
            bottom: -24px;
        }
        &::after{
            content: '';
            display: block;
            width: 68px;
            height: 71px;
            background-image: url('../images/header-decor-right.svg');
            position: absolute;
            top: 0;
            left: -68px;
            @media (max-width: $r_tab){
                height: 66px;
                background-size: contain;
                background-repeat: no-repeat;
                left: -62px;
            }
        }
    }
    &__link{
        color: $light;
        font-size: 20px;
        padding-bottom: 5px;
        border-bottom: 1px solid $light;
        transition: $tr;
        @media (hover: hover){
            &:hover{
                border-bottom: 1px solid $accent;
            }
        }
        @media (max-width: $r_tab){
                font-size: 16px;
            }
    }
}

.logo{
    &._max{
        svg{
            width: 400px;
            height: 31px;
            @media (max-width: $r_desk){
                width: clamp(300px, 39vw, 400px);
            }
        }
    }
    &._min{
        svg{
            width: 296px;
            height: 22px;
        }
    }
}

.container{
    width: 100%;
    max-width: 1830px;
    margin: 0 auto;
    padding: 0 45px 0 45px;
    box-sizing: border-box;
    @media (max-width: $r_desk){
        padding: 0 20px 0 20px;
    }
}

.banner {
    display: flex;
    background-image: url('../images/bg-banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: $br-50;
    padding: 100px 50px;
    margin-top: 135px;
    margin-bottom: 150px;
    gap: 50px;
    @media (max-width: $r_desk_full){
        flex-direction: column;
        padding: 80px 40px;
    }
    @media (max-width: ($r_desk - 24px)){
        padding: 50px 30px;
    }
    &__main{
        flex-basis: 61%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__info{
        flex-basis: calc(39% - 50px);
        @media (max-width: $r_desk_full){
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
        }
    }
    &__item{
        display: flex;
        flex-direction: column;
        justify-content: end;
        height: 151px;
        border: 1px solid $light;
        border-right: none;
        border-radius: 20px 0 0 20px;
        position: relative;
        margin-right: 80px;
        padding: 30px;
        box-sizing: border-box;
        transition: $tr;
        z-index: 1;
        @media (max-width: $r_desk_full){
            padding: 30px 0 30px 30px;
        }
        @media (max-width: ($r_desk - 24px)) {
                height: inherit;
                padding: 24px 10px 24px 100px;
                margin-right: 0;
                border-radius: $br-20;
                border-right: 1px solid $light;
                justify-content: center;
            }
        @media (hover:hover) {
            &:hover{
            &::before{
                width: 100%;
                opacity: 1;
                transform: translate(0, 0) scale(1);
                @media (max-width: ($r_desk - 24px)) {
                    border-radius: 20px;
                    height: 100px;
                    right: -1px;
                }
            }
            .banner__decor{
                background-color: $accent;
                border-color: $accent;
                &::after{
                    transform: translate(0, 0) scale(1);
                    opacity: 1;
                }
            }
        }
        }
        
        & + & {
            margin-top: 19px;
            @media (max-width: $r_desk_full){
                margin-top: 0;
            }
        }
        &::before{
            content: '';
            display: block;
            width: 0;
            height: 151px;
            background-color: $accent;
            border: 1px solid $accent;
            position: absolute;
            top: -2px;
            right: 0;
            border-radius: 20px 0 0 20px;
            z-index: -1;
            opacity: 0;
            transform: translate(50%, -50%) scale(0);
            transition: $tr;
        }
    }
    &__text{
        font-weight: 200;
        font-size: 24px;
        margin: 0;
        @media (max-width: ($r_desk - 24px)) {
                font-size: 18px;
            }
        span{
            display: block;
            margin-top: 20px;
            font-weight: 700;
            font-size: 32px;
            @media (max-width: ($r_desk - 24px)) {
                margin-top: 12px;
                font-size: 20px;
            }
        }
    }
    &__decor{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        right: -80px;
        height: 50px;
        width: 50px;
        border: 1px solid $light;
        border-radius: 10px;
        box-sizing: border-box;
        transition: $tr;
        @media (max-width: ($r_desk - 24px)) {
            top: calc(50% - 25px);
            right: inherit;
            left: 30px;
        }
        &::before{
            content: '';
            display: block;
            width: 80px;
            height: 151px;
            background-image: url('../images/banner-info-decor.svg');
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            right: 0;
            top: -2px;
            @media (max-width: ($r_desk - 24px)) {
                display: none;
            }
        }
        &::after{
            content: '';
            display: block;
            width: 80px;
            height: 151px;
            transform: translate(-50%, -50%) scale(0);
            background-image: url('../images/banner-info-decor-hover.svg');
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            right: 0;
            top: -2px;
            opacity: 0;
            transition: $tr;
            @media (max-width: ($r_desk - 24px)) {
                display: none;
            }
        }
    }
    &__title{
        font-size: 64px;
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 20px;
        line-height: 110%;
        @media (max-width: $r_desk_full){
            font-size: clamp(50px, 4vw + 1rem, 64px);
        }
    }
    &__btn{
        display: block;
        width: 100%;
        color: $light;
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1px;
        background-color: $accent;
        border: 1px solid $accent;
        padding: 30px;
        border-radius: $br-20;
        transition: $tr;
        cursor: pointer;
        @media (max-width: $r_desk_full){
            margin-top: 50px;
        }
        @media(hover: hover){
            &:hover{
                background-color: $light;
                border-color: $light;
                color: $accent;
                transition: $tr;
            }
        } 
    }
}
.banner-box{
    border: 1px solid $light;
    border-radius: $br-20;
    padding: 30px 332px 30px 30px;
    position: relative;
    @media (max-width: $r_desk_full_over){
        padding-right: clamp(200px, 20vw, 332px);
    }
    @media (max-width: $r_desk_full){
        padding-right: 332px;
    }
    &__title{
            font-size: 24px;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 1.2px;
            margin-top: 0;
    }
    &__text{
        font-size: 20px;
        line-height: 150%;
        font-weight: 400;
        margin-top: 0;
        margin-bottom: 30px;
         @media (max-width: $r_desk_full){
            max-width: 572px;
        }
    }
    &__img{
        position: absolute;
        &._electroguitar{
            top: -68px;
            right: -20px;
            @media (max-width: $r_desk_full_over){
                top: inherit;
                bottom: -68px;
                width: clamp(200px, 22vw, 332px);
            }
            @media (max-width: $r_desk_full){
                width: auto;
                top: -68px;
                bottom: inherit;
            }
        }
    }
}

.tag{
    display: flex;
    gap: 64px;
    animation: move-left 20s infinite linear alternate;
    margin: 0;
    margin-bottom: 150px;
    @media (hover:hover){
        &:hover{
        animation-play-state: paused;
    }
    }
    &__text{
        border: 1px solid $grey;
        border-radius: $br-50;
        padding: 10px 20px;
        font-weight: 200;
        font-size: 24px;
        color: $grey;
        position: relative;
        &::before{
            content: '';
            display: block;
            height: 16px;
            width: 16px;
            background-color: $accent;
            border-radius: 100%;
            top: calc(50% - 8px);
            left: -40px;
            position: absolute;
        }
        @media (hover: hover) {
            &:hover{
            background-color: $accent;
            border-color: $accent;
        }
        }
    }
}

@keyframes move-left {
    0% {
        transform: translate(100%, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}

.course{
    display: flex;
    gap: 70px;
    &__title{
        flex-basis: 395px;
    }
    &__control{
        margin-top: 60px;
    }
    &__content{
        flex-basis: calc(100% - 395px - 70px);
        width: calc(100% - 395px - 70px);
    }
}

.course-control{
    display: flex;
    align-items: center;
    gap: 20px;
    &__prev, &__next{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        height: 70px;
        background-color: transparent;
        border: 1px solid $light;
        border-radius: 100%;
        right: inherit;
        left: inherit;
        position: inherit;
        color: $light;
        transition: $tr;
        @media (hover: hover) {
            &:hover{
            background-color: $accent;
            border-color: $accent;
            transition: $tr;
        }
        }
    }

}

.slider-teacher{
    margin: 0;
    margin-bottom: 50px;
    &__item{
        height: 707px;
        background-color: $dark;
        border: 1px solid $dark;
        position: relative;
        border-radius: $br-50;
        overflow: hidden;
        transition: $tr;
        @media (hover: hover) {
            &:hover{
            border-color: $accent;
            transition: $tr;
            .slider-teacher__name, 
            .slider-teacher__grid{
                opacity: 1;
                transition: $tr;
                }
            }
        }
    }
    &__grid{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: $tr;
    }
    &__img{
        width: 100%;
        height: 637px;
        object-fit: cover;
        position: absolute;
        bottom: 0;

    }
    &__name{
        width: 100%;
        font-weight: 400;
        font-size: 24px;
        color: $grey;
        position: absolute;
        bottom: 30px;
        left: 30px;
        margin-top: 0;
        margin-bottom: 0;
        opacity: 0;
        transition: $tr;
        z-index: 1;
        &::before{
            content: '';
            display: block;
            width: 100%;
            height: 637px;
            flex-shrink: 0;
            background: linear-gradient(42deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.00) 59.08%);
            background-repeat: no-repeat;
            position: absolute;
            left: -30px;
            bottom: -30px;
            z-index: -1;
        }
    }
}

.accordion{
    margin-bottom: 150px;
    &__btn{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        font-family: $font;
        color: $accent;
        font-size: 32px;
        font-weight: 400;
        padding: 20px 25px 20px 30px;
        background-color: $light;
        border: none;
        border-radius: $br-20;
        margin-bottom: 24px;
        cursor: pointer;
        &::after{
            content: '';
            display: block;
            width: 50px;
            height: 50px;
            background-image: url('../images/minus.svg');
            background-repeat: no-repeat;
            background-size: contain;
        }
        &.active{
            &::after{
                content: '';
                display: block;
                width: 50px;
                height: 50px;
                background-image: url('../images/plus.svg');
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
    }
    &__panel{
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        border-radius: $br-20;
        background: $light;
    }
    &__list{
        list-style-type: none;
        padding-left: 0;
        padding: 30px 50px;
    }
    &__item{
        display: flex;
        align-items: center;
        gap: 10px;
        color: $dark;
        font-size: 24px;
        font-weight: 300;
        & + & {
            margin-top: 30px;
        }
        &::before{
            content: '—';
        }
    }
}

.steps{
    max-width: 1920px;
    margin: 0 auto;
    border: 1px solid $light;
    border-radius: $br-50;
    background: linear-gradient(180deg, #1F2023 0%, #7027E2 50%, #1F2023 100%);
    padding-top: 150px;
    padding-bottom: 150px;
    &__title-h2{
        margin-bottom: 50px;
    }
    &__list{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
        margin-top: 50px;
    }
    &__item{
        display: flex;
        padding: 30px;
        flex-direction: column;
        align-items: flex-start;
        flex-basis: 435px;
        box-sizing: border-box;
        gap: 20px;
        flex-shrink: 0;
        border-radius: $br-50;
        background: $light;
    }
    &__text{
        align-self: stretch;
        color: $dark;
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
        margin-bottom: 0;
        letter-spacing: -0.005em;
    }
}

.result{
    margin-top: 150px;
    margin-bottom: 150px;
    &__list{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
        margin-top: 50px;
    }
    &__item{
        display: flex;
        padding: 30px;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        gap: 20px;
        flex-shrink: 0;
        border-radius:  20px;
        background-color: $light;
        &._subgrid{
            grid-column: 2 / 5;
            display: grid;
            grid-template-columns: subgrid;
            align-items: center;
        }
    }
    &__text{
        color: $dark;
        line-height: 150%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 0;
        margin-bottom: 0;
        span{
            width: fit-content;
            background-color: $accent;
            color: $light;
            font-size: 24px;
            font-weight: 600;
            padding: 10px;
            border-radius: 10px;
        }
    }
    &__btn{
      grid-column: 2 / 4;
      color: $light;
      height: 100%;
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1px;
        background-color: $accent;
        border: 1px solid $accent;
        padding: 30px;
        border-radius: $br-20;
        transition: $tr;
        cursor: pointer;
        @media(hover: hover){
            &:hover{
                background-color: transparent;
                border-color: $accent;
                color: $accent;
                transition: $tr;
            }
        } 
    }
}

.areas{
    margin-bottom: 150px;
    ._areas-title{
        margin-bottom: 50px;
    }
    &__list{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    &__link{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px;
        color: $light;
        background-color: transparent;
        border-radius: 0;
        transition: $tr;
        font-size: 32px;
        font-weight: 400;
        line-height: 150% /* 48px */;
        position: relative;
        &:not(:last-child){
            border-bottom: 1px solid $accent;
        }
        @media (hover: hover) {
            &:hover{
            border-radius: 10px;
            background-color: $accent;
            &::after{
                transform: rotate(45deg);
                }
            &::before{
                transform: scale(1);
                opacity: 1;
                }
            }
        }      
        &::after{
            content: '';
            display: block;
            width: 48px;
            height: 48px;
            background-image: url('../images/arrow.svg');
            background-repeat: no-repeat;
            background-position: center;
            transition: $tr;
        }
        &::before{
            display: block;
            content: '';
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            left: 769px;
            opacity: 0;
            transform: scale(0);
            transition: $tr;
        }
        &._classic{
            &::before{
                height: 274px;
                width: 527px;
                background-image: url('../images/areas/classic-guitar.png');
                position: absolute;
                top: calc(50% - 174px);
            }
        }
        &._dram{
            &::before{
                height: 300px;
                width: 300px;
                background-image: url('../images/areas/dram.png');
                position: absolute;
                top: calc(50% - 165px);
            }
        }
        &._violin{
            &::before{
                height: 469px;
                width: 385px;
                background-image: url('../images/areas/violin.png');
                position: absolute;
                top: calc(50% - 240px);
            }
        }
        &._bass{
            &::before{
                height: 300px;
                width: 575px;
                background-image: url('../images/areas/bass-guitar.png');
                position: absolute;
                top: calc(50% - 165px);
            }
        }
    }
}

.footer{
    display: grid;
    grid-template-columns: 1fr 450px;
    gap: 10px 20px;
    background-color: $dark;
    padding: 30px 50px;
    margin-bottom: 30px;
    border-radius: $br-20;
    &__text{
        margin-top: 0;
        margin-bottom: 0;
        & + & {
            margin-top: 6px;
        }
    }
    &__link{
        color: $accent;
        box-shadow: 0 4px 0 -3px $accent;
        transition: $tr;
        @media (hover: hover) {
            &:hover{
            box-shadow: 0 4px 0 -3px transparent;
            }
        }
    }
    &__copy{
        text-align: right;
        align-self: end;
    }
}

.social{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 11px;
    &__link{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        background-color: $light;
        border-radius: 10px;
        transition: $tr;
        @media (hover: hover) {
            &:hover{
            background-color: $accent;
            &::after{
                background-color: $light;
                }
            }
        } 
        &::after{
            content: '';
            display: block;
            background-color: $accent;
            mask: center center / 100% no-repeat;
            -webkit-mask: center center / 100% no-repeat;
            transition: $tr;
        }
        &._wa{
            &::after{
                width: 28px;
                height: 28px;
                mask-image: url(../images/icons/wa.svg);
                -webkit-mask-image: url(../images/icons/wa.svg);
            }
        }
        &._vk{
            &::after{
                width: 31px;
                height: 19px;
                mask-image: url(../images/icons/vk.svg);
                -webkit-mask-image: url(../images/icons/vk.svg);
            }
        }
        &._tg{
            &::after{
                width: 25px;
                height: 22px;
                mask-image: url(../images/icons/tg.svg);
                -webkit-mask-image: url(../images/icons/tg.svg);
            }
        }
    }
}